
{% for page in pages %}
    {% if page.activate == true %}
        <div class="blank-sheet">
            {{ render(path('element_list', {'page_id' : page.id })) }}
        </div>

        <div class="page-info" >
            <div class="page-describing">
                <span> {{ page.title }} </span>
            </div>
            <div class="change-page-section">
                <a href="{{ path('change_page', {'id' : document.id, 'change_number' : -1 }) }}">
                    <i class="material-icons">keyboard_arrow_left</i>
                </a>
                <div class="page-index">
                    <span>{{ page.paginationOrder }}</span>
                </div>
                <a href="{{ path('change_page', {'id' : document.id, 'change_number' : 1 }) }}">
                    <i class="material-icons">keyboard_arrow_right</i>
                </a>
            </div>

        </div>
    {% endif %}
{% endfor %}


