{% extends 'PdfGenesisCoreBundle::layout.html.twig' %}

{% set documentType = "Document" %}

{% block body %}
    <div class="content" id="design-container">
        <div class="row">

            <div class="design-tool-container col-sm-2 design-tool-container-right">
                <div class="title-section"><h4>Elements</h4></div>

                <div class="classification-section">
                    <a href="" class="element-mark-link">
                        <div class="element-mark">
                            {{ render(path('element_list_classification', {'id' : document.id })) }}
                        </div>
                    </a>
                </div>
            </div>

            <div class="blank-sheet-container col-sm-8">

                <div class="top-nav">
                    <nav class="navbar navbar-default navbar-main">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="{{ path('homepage') }}"> </a>PDF GENESIS
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="top-describing">
                    <div id="doc-title">
                        <div class="top-label">Title :</div>
                        {{ document.title }}
                    </div>
                    <div id="doc-description">
                        <div class="top-label">Description :</div>
                        {{ document.description }}
                    </div>
                </div>

                {% include  'PdfGenesisCoreBundle:Design:_edit.html.twig' with {'pages' : document.pages } %}

            </div>

            <div class="design-tool-container design-tool-container-left col-sm-2">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('user_index') }}"> Mon compte </a>
                {% else %}
                    <div class="login-action"><a data-toggle="modal" data-target="#login-modal">{{ 'Login'|trans }}
                            / {{ 'Sign up'|trans }}</a></div>
                {% endif %}
                <div class="generate-btn-temporary">
                    {{ render(path('import_file')) }}
                    <a class="" href="{{ path('generate_pdf', {'id': document.id }) }}"><i class="material-icons">file_download</i>
                        Generate</a>

                    <a class="" data-toggle="modal" data-target="#title-description-{{ documentType }}"><i
                                class="material-icons">format_size</i> Title & Description </a>

                    <a class="" href="{{ path('generate_new_page', {'id': document.id }) }}"><i class="material-icons">add</i>
                        New page</a>

                    <a class="" href="{{ path('new_document') }}"><i class="material-icons">format_align_justify</i> New
                        document</a>

                    <a class="" href="{{ path('document_save', {'id' : document.id}) }}"> save
                        document</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-block">
        {% include 'PdfGenesisDocumentBundle:Modal:_title_description_modal.html.twig' with {'id' : document.id  , 'type' : documentType } %}
        {% include 'PdfGenesisCoreBundle:Security:login_modal.html.twig' %}

    </div>

{% endblock %}