{% extends 'PdfGenesisCoreBundle::layout.html.twig' %}

{% set documentType = "Document" %}

{% block body %}
    <div class="content" id="design-container">
        <div class="row">

            <div class="design-tool-container col-sm-2 design-tool-container-right">
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-page" data-tabs="tabs-page">{{ 'Pages'|trans }}</a></li>
                        <li><a href="#tabs-element" data-tabs="tabs-element">{{ 'Element'|trans }}</a></li>
                    </ul>
                    <div id="tabs-page">
                        {% include 'PdfGenesisDocumentBundle:Page:_list.html.twig' with {'pages': document.pages} %}
                    </div>
                    <div id="tabs-element">
                        <div class="classification-section">
                            <a href="" class="element-mark-link">
                                <div class="element-mark">
                                    {{ render(path('element_list_classification', {'id' : document.id })) }}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="blank-sheet-container col-sm-8">

                <div class="top-nav">
                    <nav class="navbar navbar-default navbar-main">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="{{ path('homepage') }}"> </a>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="top-describing">
                    <div id="doc-title" class="doc">
                        <div class="top-label doc-label">Title :</div>
                        <p>{{ document.title }}</p>

                    </div>
                    <div id="doc-description" class="doc">
                        <div class="top-label doc-label">Description :</div>
                        <p>{{ document.description }}</p>

                    </div>
                </div>
                <div id="page-view">
                    {% include  'PdfGenesisCoreBundle:Design:_edit.html.twig' with {'pages' : document.pages } %}
                </div>


            </div>

            <div class="design-tool-container design-tool-container-left col-sm-2">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('user_index') }}"> Mon compte </a>
                {% else %}
                    <div class="login-action"><a data-toggle="modal" data-target="#login-modal">{{ 'Login'|trans }}
                            / {{ 'Sign up'|trans }}</a></div>
                {% endif %}
                <div class="generate-btn-temporary">
                    {{ render(path('import_file')) }}
                    <a class="" href="{{ path('generate_pdf', {'id': document.id }) }}"><i class="material-icons">file_download</i>
                        Generate</a>

                    <a class="" data-toggle="modal" data-target="#title-description-{{ documentType }}"><i
                                class="material-icons">format_size</i> Title & Description </a>

                    <a class="" href="{{ path('generate_new_page', {'id': document.id }) }}"><i class="material-icons">add</i>
                        New page</a>

                    <a class="" href="{{ path('new_document') }}"><i class="material-icons">format_align_justify</i> New
                        document</a>

                    <a class="save_document"><i class="material-icons">save</i> save document</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block modal %}
    {{ parent() }}
    {% include 'PdfGenesisDocumentBundle:Modal:_title_description_modal.html.twig' with {'id' : document.id  , 'type' : documentType } %}
    {% include 'PdfGenesisCoreBundle:Security:login_modal.html.twig' %}
{% endblock %}