{% extends 'PdfGenesisCoreBundle::layout.html.twig' %}

{% set documentType = "Document" %}

{% block body %}
    <div class="content" id="design-container">
        <div class="row">

            <div class="design-tool-container col-sm-3">
                <div class="classification-section">
                    <a href="" class="element-mark-link">
                        <div class="element-mark">
                            {{ render(path('element_list_classification', {'id' : document.id })) }}
                        </div>
                    </a>
                </div>
            </div>

            <div class="blank-sheet-container col-sm-6">

                <div class="top-nav">
                    <nav class="navbar navbar-default navbar-main">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="{{ path('homepage') }}">  </a>PDF GENESIS
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="top-describing">
                    <div id="doc-title">
                        <div class="top-label">Title : </div>
                        {{ document.title }}
                    </div>
                    <div id="doc-description">
                        <div class="top-label">Description : </div>
                        {{ document.description }}
                    </div>
                </div>

                {% include  'PdfGenesisCoreBundle:design:_edit.html.twig' with {'pages' : document.pages } %}
                <div class="change-page-section">
                    <a href="{{ path('change_page', {'id' : document.id, 'change_number' : -1 }) }}">
                        <i class="material-icons">keyboard_arrow_left</i>
                    </a>
                    <a href="{{ path('change_page', {'id' : document.id, 'change_number' : 1 }) }}">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                </div>
            </div>

            <div class="design-tool-container col-sm-3">
                <div class="generate-btn-temporary">
                    {{ render(path('import_file')) }}
                    <a class="btn btn-raised btn-success" href="{{ path('generate_pdf', {'id': document.id }) }}"> Generate </a>

                    <a class="btn btn-raised btn-info" data-toggle="modal" data-target="#title-description-{{ documentType }}"> Title & Description </a>

                    <a class="btn btn-raised btn-danger"  href="{{ path('generate_new_page', {'id': document.id }) }}"> New page</a>
                </div>
            </div>
        </div>
    </div>

    {% include 'PdfGenesisDocumentBundle:Modal:_title_description_modal.html.twig' with {'id' : document.id  , 'type' : documentType } %}

{% endblock %}