<div class="modal fade" id="login-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1" data-tabs="tabs-1">{{ 'Login'|trans }}</a></li>
                        <li><a href="#tabs-2" data-tabs="tabs-2">{{ 'Sign up'|trans }}</a></li>
                    </ul>
                    <div id="tabs-1">
                        {{ render(path('fos_user_security_login')) }}
                    </div>
                    <div id="tabs-2">
                        {{ render(path('fos_user_registration_register')) }}
                    </div>
                    <div id="tabs-3" class="ui-tabs-panel">
                        <div class="content">{{ render(path('fos_user_resetting_request')) }}</div>
                        <div class="info-resetting" style="display:none;"> Un email pour reintialiser votre mot de passe à été envoyé !</div>

                    </div>
                </div>

                <div class="login-social">
                    <div id="facebook"><a href="{{ path('hwi_oauth_service_redirect',{'service' : 'facebook'}) }}" class="btn btn-default">{{ 'login with'|trans }} Facebook</a></div>
                    <div id="google"><a href="{{ path('hwi_oauth_service_redirect',{'service' : 'google'}) }}" class="btn btn-default">{{ 'login with'|trans }} Google </a></div>
                    <div id="password"><a data-id="tabs-3" id="psd-tab" class="btn btn-default">Forgot password ?</a></div>
                    {#<div><a class="btn btn-default">{{ 'I already have an account'|trans }}</a></div>
                    <div><a class="btn btn-default">{{ 'Continue anonymously'|trans }}</a></div>
                    #}
                </div>
            </div>
            <div class="modal-footer">
                {# <button type="button" class="btn btn-primary">Save changes</button> #}
                {#  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> #}

                <ul class="login-table center-modal-submit" id="login-table-choices">
                    <li class="active" id="ui-id-1" data-tabs="tabs-1"><a class="btn btn-raised active" id="login-form-submit"
                                                       onclick="$('#login-form').submit();">{{ 'Connexion'|trans }}</a>
                    </li>
                    <li id="ui-id-2" data-tabs="tabs-2"><a class="btn btn-raised btn-default" id="register-form-submit"
                                        onclick="$('#register-form').submit();">{{ 'Register'|trans }}</a></li>
                    <li id="ui-id-3" data-tabs="tabs-3">
                        <a id="back-login-form"><i class="material-icons">arrow_back</i> back </a>
                        <a class="btn btn-raised btn-default" id="resetting-form-submit">Mot de passe oublié</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>

